table {
    border: 1px solid black;
}
table thead {
    border: 1px solid black;
}
table tr.odd {
    background: #e6e1B7;
}
table tbody td.admin, table tbody td.edit {
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}


.filter-col{
    padding-left:10px;
    padding-right:10px;
}

.filter-panel{
    margin-top: 75px;
}

div.row{
    padding: 10px;
}

button.btn-primary{
    margin-left: 100px;
}

div.panel-body{
    background-color: #fcf8e3;
}

button.clearfilter{
    background-color: #5bc0de;
    border-color: #2e6da4;
    color: #ffffff;
}
