* {
    margin: 0;
    padding: 0;
}
html,
/*
body {
    height: 100%;
    padding: 10px;
}
*/
.mainarea {
    display: table;
    height: 100%;
    width: 100%;
}
.content {
    display: table-row;
    height: 100%;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #222;
    color: #f9aa34;
    padding: 5px;
}

div.header{
    background-color: blue;
    height: 100px;
    color:white;
}

.header-content{
    padding: 10px;
}
.enter-menu{
    float: right;
    list-style: none;
}

.enter-menu a{
    color:gold;
}

input.au-button{
    background-color: #b5b5b5;
    color: white;
    width: 40%;
    height: 35px;
}

.title2 {
    color: #f9aa34;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

.red{
    color: red;
}
.green{
    color: green;
}

body {
    height:100%;
    position:relative;
}
.container {
    width: 99%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-inverse .navbar-brand{
    color: #f9aa34;
}
